{% extends 'base.html' %}
{% load static %}
{% block content %}

{% include 'partials/header.html' %}

<!-- breadcrumb begin -->
<div class="breadcrumb-oitila">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 col-lg-7 col-8">
                <div class="part-txt">
                    <h1>about us</h1>
                    <ul>
                        <li>home</li>
                        <li>about</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb end -->

<!-- about begin -->
<div class="about about-inner">
    <div class="container">
        <div class="row justify-content-xl-between justify-content-lg-between justify-content-md-between justify-content-sm-center">
            <div class="col-xl-6 col-lg-6 col-sm-10">
                <div class="part-text">
                    <h2>The <span class="special">right place</span> for you to invest money</h2>
                    <p>At Flexirex your financial dreams take flight, and your capital finds its true potential. 
                        We proudly present the epitome of investment excellence, the one-stop sanctuary for 
                        both novice and seasoned investors alike. Prepare to embark on a transformative journey towards financial abundance, 
                        guided by our unwavering commitment to your success.</p>
                        <h4>Our Vision:</h4>
                        <p>To be the leading platform that simplifies investing for everyone, regardless of their experience level.</p>
                        <h4>How We Make Money:</h4>
                        <p>At Flexirex Investments, transparency is a cornerstone of our business. We believe in being open about how we 
                            generate revenue to maintain trust with our users. Here are the primary ways we make money from user investments:</p>
                        <ul>
                            <li><i class="fas fa-check"></i> Cryptocurrency Trading </li>
                            <li><i class="fas fa-check"></i> Transaction Fees </li>
                            <li><i class="fas fa-check"></i> Spread and Markup </li>
                            <li><i class="fas fa-check"></i> Premium Services</li>
                        </ul>
                    <p>Flexirex Investments is more than just a platform; it's a partner in your journey towards financial growth.</p>
                </div>
            </div>
            <div class="col-xl-5 col-lg-6 col-sm-10 col-md-12">
                <div class="part-feature">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-sm-12 col-md-6">
                            <div class="single-feature">
                                <div class="feature-icon">
                                    <img src="{% static 'img/svg/diploma.svg' %}" alt="">
                                </div>
                                <div class="feature-text">
                                    <h3>We're Certified</h3>
                                    <p>Trust is the cornerstone of any successful investment partnership. At Flexirex, 
                                        we take your trust seriously, and that's why we proudly bear the seal of certification. Our commitment 
                                        to rigorous industry standards and ethical practices has earned us the recognition of esteemed 
                                        authorities in the financial realm. </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-sm-12 col-md-6">
                            <div class="single-feature">
                                <div class="feature-icon">
                                    <img src="{% static 'img/svg/blockchain.svg' %}" alt="">
                                </div>
                                <div class="feature-text">
                                    <h3>We Provide Crypto</h3>
                                    <p>In a world marked by digital transformation, cryptocurrencies have emerged as a disruptive force, 
                                        reshaping traditional notions of value and transaction. At Flexirex, we're at the 
                                        vanguard of this crypto revolution, providing you with access to a diverse array of digital assets. </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-sm-12 col-md-6">
                            <div class="single-feature">
                                <div class="feature-icon">
                                    <img src="{% static 'img/svg/worldwide.svg' %}" alt="">
                                </div>
                                <div class="feature-text">
                                    <h3>We're Global</h3>
                                    <p>In today's interconnected world, investment knows no bounds. Flexirex is your 
                                        passport to a realm of diverse investment opportunities that span continents, industries, and markets. 
                                        Our global reach and extensive network enable us to present you with a panorama of options that cater 
                                        to your unique investment preferences. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- about end -->


<!-- choosing reson begin -->
<div class="choosing-reason">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-8">
                <div class="section-title">
                    <h2>
                        why <span class="special">  Flexirex</span> is the best
                    </h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-4 col-lg-5 col-sm-10 col-md-12">
                <div class="part-left">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-4">
                            <div class="single-reason">
                                <div class="icon-box">
                                    <div class="part-icon">
                                        <img src="{% static 'img/svg/withdraw.svg' %}" alt="">
                                    </div>
                                </div>
                                <div class="part-text">
                                    <h3 class="title">Get Instant Withdrawals</h3>
                                    <p>Get your payment instantly through requesting it!</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-4">
                            <div class="single-reason">
                                <div class="icon-box">
                                    <div class="part-icon">
                                        <img src="{% static 'img/svg/referral.svg' %}" alt="">
                                    </div>
                                </div>
                                <div class="part-text">
                                    <h3 class="title">Unlimited Referral Bonus</h3>
                                    <p>Promote oitila and earn unlimited referral commission from each referral links</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-4">
                            <div class="single-reason">
                                <div class="icon-box">
                                    <div class="part-icon">
                                        <img src="{% static 'img/svg/affiliate-marketing.svg' %}" alt="">
                                    </div>
                                </div>
                                <div class="part-text">
                                    <h3 class="title">Join To Affiliate Program</h3>
                                    <p>Our affiliate program is a great way to grow your earning. It's more easy to join with us</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-2 d-xl-flex d-lg-none d-block align-items-end">
                <div class="part-img">
                    <div class="shadow-shape"></div>
                    <img src="{% static 'img/choosing-reason.png' %}" alt="">
                </div>
            </div>
            <div class="col-xl-4 col-lg-5 col-sm-10 col-md-12">
                <div class="part-right">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-4">
                            <div class="single-reason">
                                <div class="icon-box">
                                    <div class="part-icon">
                                        <img src="{% static 'img/svg/bird.svg' %}" alt="">
                                    </div>
                                </div>
                                <div class="part-text">
                                    <h3 class="title"> Blockchain Ecosystem</h3>
                                    <p>Get big profit, and profit is calculated with the blockchain ecosystem.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-4">
                            <div class="single-reason">
                                <div class="icon-box">
                                    <div class="part-icon">
                                        <img src="{% static 'img/svg/shield.svg' %}" alt="">
                                    </div>
                                </div>
                                <div class="part-text">
                                    <h3 class="title">SSL Security</h3>
                                    <p>Our system is secured and protected using DDos protection and SSL. </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-4">
                            <div class="single-reason">
                                <div class="icon-box">
                                    <div class="part-icon">
                                        <img src="{% static 'img/svg/customer-service.svg' %}" alt="">
                                    </div>
                                </div>
                                <div class="part-text">
                                    <h3 class="title">24/7 Friendly Support</h3>
                                    <p>We provide 24/7 friendly support in Oitila. We're always responsible to take care</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- choosing reson end -->

{% endblock %}