{% extends 'base.html' %}
{% load static %}
{% block content %}

{% include 'partials/header.html' %}
<!-- breadcrumb begin -->
<div class="breadcrumb-oitila">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 col-lg-9 col-8">
                <div class="part-txt">
                    <h1>Affiliate Program</h1>
                    <ul>
                        <li>home</li>
                        <li>Affiliate</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb end -->

<!-- refferal commission begin -->
<div class="refferal-commision">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-8">
                <div class="section-title">
                    <h2>
                        The Biggest Refferal<span class="special"> Commissions</span>
                    </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-sm-6 col-md-3">
                <div class="single-commision">
                    <div class="part-icon">
                        <img src="{% static 'img/refferal/5.png' %}" alt="">
                    </div>
                    <div class="part-text">
                        <span class="title">First Line</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-sm-6 col-md-3">
                <div class="single-commision">
                    <div class="part-icon">
                        <img src="{% static 'img/refferal/25.png' %}" alt="">
                    </div>
                    <div class="part-text">
                        <span class="title">Second Line</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-sm-6 col-md-3">
                <div class="single-commision">
                    <div class="part-icon">
                        <img src="{% static 'img/refferal/50.png' %}" alt="">
                    </div>
                    <div class="part-text">
                        <span class="title">Third Line</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-sm-6 col-md-3">
                <div class="single-commision">
                    <div class="part-icon">
                        <img src="{% static 'img/refferal/75.png' %}" alt="">
                    </div>
                    <div class="part-text">
                        <span class="title">Fourth Line</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- refferal commission end -->

<!-- affiliate begin -->
<div class="affiliate">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-7">
                <div class="part-para">
                    <div class="section-title">
                        <h2>
                            <span class="special">Flexirex</span> Best affiliate Programs
                        </h2>
                    </div>
                    <p>
                        At Flexirex, we believe in the power of partnership and shared prosperity. Our Best Affiliate Programs are 
                        designed to empower you to not only enhance your financial well-being but also contribute to the financial success of those around 
                        you. With lucrative rewards and a transparent structure, our affiliate programs offer an opportunity to amplify your earnings while 
                        fostering a community of growth and collaboration.
                    </p>

                    <p><strong>First Line Affiliates (5% Commission):</strong> As a First Line Affiliate, you're at the forefront of our affiliate network. By referring 
                        individuals directly to our platform, you earn a generous 5% commission on their initial investments. Your role as a pioneer sets the 
                        stage for your financial journey and positions you as a catalyst for change.</p>
                    <p><strong>Second Line Affiliates (25% Commission):</strong> Extend your reach as a Second Line Affiliate. When your referrals invite others to join 
                        Flexirex, you earn a substantial 25% commission on their initial investments. Your influence ripples through 
                        the network, fostering growth and earning you a prominent place among our community of affiliates.</p>
                    <p><strong>Third Line Affiliates (50% Commission):</strong> Elevate your affiliate status to the Third Line and enjoy even greater rewards. As a 
                        Third Line Affiliate, your commitment to sharing the benefits of our platform yields a remarkable 50% commission on the initial 
                        investments of your referrals' referrals. Your dedication fuels the expansion of our network, contributing to a thriving 
                        ecosystem of financial achievement.</p>
                    <p><strong>Fourth Line Affiliates (75% Commission):</strong> At the pinnacle of our affiliate hierarchy, Fourth Line Affiliates reap unparalleled 
                        rewards. Your unparalleled dedication to building a network of success is rewarded with a remarkable 75% commission on the 
                        initial investments of your fourth-line affiliates. Your influence is magnified, and your contributions resonate deeply within 
                        our community.</p>
                    <p>
                        Join us in revolutionizing the way we approach financial growth. As an affiliate partner, you're not only embarking on a path to your 
                        own enrichment but also uplifting those who share your aspirations. Together, let's redefine success and inspire a new era of 
                        collaboration. 
                    </p>
                </div>
            </div>
            <div class="col-xl-5 col-lg-5">
                <div class="part-affilate-feature">
                    <div class="single-feature">
                        <div class="icon-box">
                            <div class="part-icon">
                                <img src="{% static 'img/affiliate/conversion-rate.png' %}" alt="">
                            </div>
                        </div>
                        <div class="part-text">
                            <h3 class="title">Unbeatable Referral Rate</h3>
                            <p>Experience unparalleled rewards with our unbeatable referral rate. Earn commission at rates that surpass industry standards, 
                                giving you the edge in maximizing your earnings while introducing others to the world of financial success.</p>
                        </div>
                    </div>
                    <div class="single-feature">
                        <div class="icon-box">
                            <div class="part-icon">
                                <img src="{% static 'img/affiliate/digital-marketing.png' %}" alt="">
                            </div>
                        </div>
                        <div class="part-text">
                            <h3 class="title">Marketing Tools</h3>
                            <p>Empower your referral journey with a suite of powerful marketing tools. From eye-catching banners to shareable content, 
                                we provide you with the resources you need to effortlessly spread the word about Flexirex and attract 
                                potential investors.</p>
                        </div>
                    </div>
                    <div class="single-feature">
                        <div class="icon-box">
                            <div class="part-icon">
                                <img src="{% static 'img/affiliate/advertising.png' %}" alt="">
                            </div>
                        </div>
                        <div class="part-text">
                            <h3 class="title">Bonus &amp; Promotions</h3>
                            <p>Elevate your earnings with exclusive bonuses and promotions tailored to our valued affiliates. Unlock exciting incentives that
                                 amplify your profits, making your journey as an affiliate with us even more rewarding.</p>
                        </div>
                    </div>
                    <div class="single-feature">
                        <div class="icon-box">
                            <div class="part-icon">
                                <img src="{% static 'img/affiliate/commission.png' %}" alt="">
                            </div>
                        </div>
                        <div class="part-text">
                            <h3 class="title">High Commissions</h3>
                            <p>Embrace a new level of financial opportunity with our high commission structure. We prioritize your success by offering commissions 
                                that reflect the value of your referrals, ensuring your efforts are richly rewarded.</p>
                        </div>
                    </div>
                    <div class="single-feature">
                        <div class="icon-box">
                            <div class="part-icon">
                                <img src="{% static 'img/affiliate/payment-method.png' %}" alt="">
                            </div>
                        </div>
                        <div class="part-text">
                            <h3 class="title">Fast Payments</h3>
                            <p>Your success deserves swift recognition. Our fast payment system ensures that your hard-earned commissions are 
                                disbursed promptly, allowing you to enjoy the fruits of your affiliate endeavors without delay.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="affiliate-how-to-do">
            <h2 class="title">How It Works</h2>
            <div class="single-affiliate">
                <div class="part-icon">
                    <span class="sr-num">1</span>
                    <img src="{% static 'img/affiliate/icon-6.png' %}" alt="">
                </div>
                <div class="part-text">
                    <p>You share your referral<br> link on your socials</p>
                </div>
            </div>
            <div class="single-affiliate">
                <div class="part-icon">
                    <span class="sr-num">2</span>
                    <img src="{% static 'img/affiliate/icon-7.png' %}" alt="">
                </div>
                <div class="part-text">
                    <p>Visitor clicks on the<br> link</p>
                </div>
            </div>
            <div class="single-affiliate">
                <div class="part-icon">
                    <span class="sr-num">3</span>
                    <img src="{% static 'img/affiliate/icon-8.png' %}" alt="">
                </div>
                <div class="part-text">
                    <p>Our system tracks<br> your unique URL</p>
                </div>
            </div>
            <div class="single-affiliate">
                <div class="part-icon">
                    <span class="sr-num">4</span>
                    <img src="{% static 'img/affiliate/icon-9.png' %}" alt="">
                </div>
                <div class="part-text">
                    <p>The visitor makes<br> a deposit</p>
                </div>
            </div>
            <div class="single-affiliate">
                <div class="part-icon">
                    <span class="sr-num">5</span>
                    <img src="{% static 'img/affiliate/icon-10.png' %}" alt="">
                </div>
                <div class="part-text">
                    <p>You receive a<br> commission
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- affiliate end -->

{% endblock %}


