{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block content %}

{% include 'partials/header.html' %}
<!-- breadcrumb begin -->
<div class="breadcrumb-oitila">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 col-lg-9 col-8">
                <div class="part-txt">
                    <h1>Password Reset</h1>
                    <ul>
                        <li>home</li>
                        <li>Password Reset</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb end -->

<!-- login begin -->
<div class="login">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-10 col-md-7 col-sm-9">
                <div class="form-area">
                    <div class="row no-gutters">
                        <div class="col-xl-12 col-lg-6">
                            <div class="alert alert-info">
                                Password reset sent
                            </div>
                            <h5>We have sent you an email containing instructions for creating your password. If an account associated with the provided email address exists, you can expect to receive these instructions shortly..</h5><br>
                            <h6>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</h6>
                            <a href="{% url 'index' %}">Return to home page</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- login end -->

{% endblock %}

